<a href="https://colab.research.google.com/github/ezgicevahirbulut/hello-world-trial/blob/master/PythonBasicQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question:

Create a program will compute the tax and the tip for a meal ordered at a restaurant. You can compute the tax as 8 percent of the meal amount and the tip as 10 percent of the meal amount (without the tax). The output from your program should include the tax amount, the tip amount, and the grand total for the meal including both the tax and the tip.


a)Define the cost of the meal in the beginning of your program.

Some several example program runs:

Cost of the meal is 25 Eur. 

Sample Run: The tax is 2.00 Eur and the tip is 2.50 Eur, making the total 29.50 Eur.

Cost of the meal is 68 Eur.

Sample Run: The tax is 5.44 Eur and the tip is 6.80000000000001 Eur, making the total 80.24 Eur.

b)Input the cost of the meal from the user.

Some several example program runs:

Please enter the cost of your meal: 100 

Sample Run: The tax is 8.00 Eur and the tip is 10.00 Eur, making the total 118.00 Eur.

Please enter the cost of your meal: 68

Sample Run: The tax is 5.44 Eur and the tip is 6.80 Eur, making the total 80.24 Eur.

In [ ]:
#define the cost of the meal in the beggining of your program
 
c=79
t=c*0.08
tip=c*0.1
ttl=c+t+tip

print(f"the tax {t} Eur and the tip is {t} Eur, making {ttl} Eur.")
print(f"the tax {t} Eur and the tip is {t} Eur, making {ttl} Eur.")

the tax 6.32 Eur and the tip is 6.32 Eur, making 93.22 Eur.

# Question

At a particular company, employees’ salaries are raised progressively, calculated using the following formula:

salary = salary + salary x (raise percentage) 

Raises are predefined as given below, according to the current salary of the worker. For instance, if the worker’s current salary is less than or equal to 1000 TL, then its salary is increased 15%.


Range | Percentage
--- | ---
0 < salary ≤ 1000 | 15%
1000 < salary ≤ 2000 |10%
2000 < salary ≤ 3000| 5%
3000 < salary | 2.5%


Write a program that asks the user to enter his/her salary. Then your program should calculate and print the raised salary of the user.

Some example program runs:

Please enter your salary: 1000

Your raised salary is 1150.0.

Please enter your salary: 2500

Your raised salary is 2625.0.

In [ ]:
slry=float(input("please enter your salary: "))

if slry<0:
  print("invalid value")
else:

  if 0<slry<=1000:
    slry=slry+slry*0.15
  elif slry<=2000:
    slry=slry+slry*0.1
  elif slry<=3000:
    slry=slry+slry*0.05
  else:
    slry=slry+slry*0.025
  print("your raised salary is: ",slry)

please enter your salary: -57
invalid value

##Question-1

Write a program that inputs an integer value (stop_number) from the user and prints the sum of all numbers from 0 to stop_number. You can assume the user will enter a valid value.

In [ ]:
stpN=int(input("please enter stop number:"))

res=0
for i in range(0,stpN):
  res=res+i
  print(res)
print(res)

please enter stop number:25
0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
300

##Question-2

Extend your program to also input the start_number from the user. In this case, your program will add all numbers from start_number to stop_number. You can assume that the user will enter two valid values.

In [ ]:
stpN=int(input("please enter a stop number:"))
strN=int(input("please enter a start number:"))

res=0
for i in range(strN,stpN):
  res+=i
print(res)

please enter a stop number:22
please enter a start number:0
231

##Question-3

Extend your program to check if the start_number is an integer between 0 and 100. If so, your program will continue to ask for the second input and perform calculations; otherwise, it prints an error and stops execution.

In [ ]:
strN=int(input("please enter a start number:"))

if 0<=strN<=100:
  stpN=int(input("please enter a stop number:"))

  if strN<=stpN<=100:
    res=0
    for i in range(strN,stpN):
      res+=i
      print(res)
    else:
      print("invalid stop number")
else:
  print("invalid start number")

please enter a start number:85
please enter a stop number:90
85
171
258
346
435
invalid stop number

**Conert KM to Miles**

learn to convert kilometers to miles and display it

In [1]:
km=float(input("enter value in kms: "))

#conversion factor
conv_fac=0.621371

miles=km*conv_fac
print("%0.2f kms is equal to %0.2f miles" %(km,miles))

enter value in kms: 100
100.00 kms is equal to 62.14 miles

**Check Leap Year**

In [5]:
year=int(input("enter a year: "))

if year % 4==0:
  if year %100==0:
    if year %400==0:
      print("{0} is a leap year".format(year))
    else:
      print("{0} is not a leap year".format(year))
  else:
    print("{0} is not a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

enter a year: 4
4 is not a leap year

**Print the Fibonacci sequence**

In [10]:
nter=int(input("how many terms? "))

x1, x2=0, 1
c=0

if nter <= 0:
  print("please enter a positive integer")
elif nter == 1:
  print("Fibonacci sequence upto",nter,":")
  print(x1)
else:
  print("Fibonacci sequence:")
  while c < nter:
    print(x1)
    n=x1+x2
    x1=x2
    x2=n
    c+=1

how many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

**Find Armstrong Number in an Interval**

In [11]:
l=100
u=2000


for num in range(l,u+1):
  order=len(str(num))

  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10

  if num==sum:
    print(num)

153
370
371
407
1634